h1 {
  color: orange;
}

ul {
  display: inline-block;
}

span {
  margin: 10px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.nameInput {
  border-radius: 5px;
}
